@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


#admin {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(128, 128, 128, 0.393);
}

#admin .blogs {

    display: flex;
    justify-content: space-between;
    width: 100%;

}

#admin .blogs h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 200px;
}

#admin .blogs form {

    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}


.example {

    width: 40%;
    border-radius: 50px;
    border: none;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}


form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    border: none;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}