#Footer {
   background-color: rgba(128, 128, 128, 0.214);
    height: 50vh;
}


#Footer .topside {
 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    gap: 400px;
}


#Footer .middleSide {

    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 230px;
}

.left {

    width: 20%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.left li {
    list-style: none;
}

.left li a {
    text-decoration: none;
    color: black;
}

.middle {

    width: 20%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {

    width: 20%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phone {
 
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.email {
 
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.location {
  
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}



.example {


    width: 100%;

    height: 10vh;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  

}

form.example input[type=email] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}


form.example button {
    float: left;
    width: 20%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    border: none;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.bottom{
   
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lef{

    width: 70%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ri{
  
    width: 30%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
}